body{
  background-color: #056679;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
.toDo{
  width: 50%;
  background-color: aliceblue;
  text-align: center;
  height: 70vh;
  margin: 50px;
margin-left: 300px;
padding: 20px;
border-radius: 20px;
border: 1px solid rgb(0, 0, 0);
}

.inputBox{
  width: 100p;
}
ul{
  list-style-type: none;
   
}
input{
  width: 200px;
}
ul li{
  width: 500px;
  height:20px;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
display: flex;
justify-content: space-between;
}
button{
  cursor: pointer;
  margin-left:10px ;
  width: 50px;
}
.edit{
background-color: rgb(191, 191, 13);
}
.delete{
background-color: red;
}
.TodoList{
  display: grid;
  justify-content: space-between;
 justify-content: center;
 
  
}

.add{
  background: rgb(2, 165, 2);
}
.check{
  margin:-70px;
}